<launch>

<!-- Provide static map: Run the map_server node -->
<include file = "$(find ballpicker)/launch/provide_map.launch" />

<!-- Localization: Run amcl node -->
<include file = "$(find ballpicker)/launch/amcl_launch.launch" />

<!-- Move the robot: Run move_base node -->
<include file = "$(find ballpicker)/launch/move_base_launch.launch" />

</launch>
